@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

html {
  height: 100%;
}

body {
  font-family: Monospace;
  background-color: #fff;
  color: #000;
  margin: 0px;
  overflow: hidden;
  height: 100%;
  font-family: Lato;
}
#editTexture {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
}
#info {
  padding: 10px 10px;
  width: 100%;
  font-family: 'Lato';
  font-weight: 300;
  box-shadow: inset rgba(6, 8, 8, 0.5) 0px 0px 2px 0px;
  font-size: 13px;
}
#info h1 {
  font-family: 'Roboto Slab';
  margin: 0;
  padding: 0;
  font-size: 24px;
}

#info h1 .heavy {
  font-weight: 700;
}
#info h1 .normal {
  font-weight: 300;
}
#info h1 .light {
  font-weight: 100;
}

#info h2 {
  position: absolute;
  right: 10px;
  top: 0;
  text-transform: uppercase;
  color: rgb(200, 200, 200);
  font-size: 10px;
}

#info h2 a {
  color: rgb(200, 200, 200);
}

#info ul#models {
  list-style-type: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}
#info ul#models li {
  flex-grow: 1;
  margin: 0 10px;
  cursor: pointer;
}

#imageLoader {
  color: transparent;
}

#imageLoader::-webkit-file-upload-button {
  visibility: hidden;
}

#imageLoader::before {
    content: 'Choose Image';
    padding: 5px 8px;
    cursor: pointer;
    color: rgb(20,20,20);
}

#imageLoader::before, button {
  background-color: rgb(250,250,250);
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #000;
  font-size: 9pt;
}

#cropCanvas {
  overflow: hidden;
  margin: auto;
}
#canvasContainer {
  position: relative;
}
#content {
  position: relative;
  flex-grow: 1;
}
#left {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(230,230,230);
  border-left: 1px solid rgb(200,200,200);
}
#pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.windowLabel {
  font-family: 'Lato';
  background-color: rgb(240,240,240);
}

.windowLabel h1 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: rgb(100,100,100);
}

#colors {
  display: flex;
  list-style-type: none;
}

.color {
  display: block;
  height: 20px;
  width: 50px;
  margin: 0 1px 0 0;
  padding: 0;
  border: 1px solid rgb(100,100,100);
}

#commands {
  display: block;
  list-style-type: none;
  background: rgb(250, 250, 250);
  padding: 0 5px 0 10px;
  margin: 0 0 5px 0;
  font-size: 12px;
}

#commands li .label {
  text-transform: uppercase;
  margin: 0 10px 0 0;
}

#commands .command {
  display: flex;
  margin: 5px 0;
}
